body
{

    background:url(../background/grey-tissue.jpg) repeat;

}

.clear{
    clear: both;
}

.mesage_error{
    color: #cc0000;
}

.success_message{
    color: green;
}

.block_for_messages{
    text-align: center;
}
#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

#header h2, #footer h2{
    text-align: center;
    margin: 0;
}

#auth_block{
    float: right;
}

#auth_block a{
    display: block;

    color: #fff;

    text-decoration: none;
}
/*
#auth_block a:hover{
    text-decoration: underline;
}*/

#link_register{
    float: left;
}

#link_auth, #link_logout{
    float: right;
}

#link_register a{
    background: #54d854;
}

#link_auth a, #link_logout a{
    background: #4e4eec;
    text-align: center;
}

/* Блок с формой регистрации */
#form_register, #form_auth{
    width: 300px;
    margin: 0 auto;
}



#authorized h2{
    text-align: center;
}
/*Оформление для таблицы*/
table {width: 100%; border-collapse: collapse;}
table thead tr {color: #ffffff; font-weight: bold; background: #3f4741; }
table thead tr td {border: 2px solid #01ab73; }
table tbody tr td {border: 2px solid #e8e9eb; }
table tbody tr:nth-child(1n) {background: #e0e4e0;}
table tbody tr:nth-child(2n) {background: #f4f4f4;}
table tbody tr:hover {background: #ebffe8;}
table th{
    color: #ffffff; font-weight: bold; background: #3f4741;
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
}

/*Курсор делает вместо строкового редактирования - руку*/
tr {cursor:pointer}

.spoiler_body {display:none;}
.spoiler_links {cursor:pointer;}



